/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

/* common styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.headers {
    background: rgba(255, 144, 14, 0.1);
    position: absolute;
    width: 1920px;
    height: 1322px;
}

/* nav bar */
nav {
    display: flex;
    justify-content: space-between;
    margin-left: 228px;
    margin-right: 240px;
    margin-top: 50px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    font-style: normal;
    text-align: center;
    color: #131313;
}

nav ul {
    display: flex;
    align-items: center;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    margin-top: 23px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner */

.banner-title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #131313;
    margin-bottom: 30px;
}

.banner-des {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;

}

.btn-primary {
    color: #FFFFFF;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    padding: 20px 25px;
    margin-left: 870px;
    margin-right: 870px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.banner img {
    width: 1440px;
    height: 700px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 40px;
}

/* grid parts */
.big-cont {
    display: flex;

    align-items: center;
}

.cont-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1407px;
    margin-left: 300px;
}

.cont-2 {
    width: 537px;
    height: 304px;
    margin-top: 1450px;
    margin-right: 301px;
    text-align: left;
    padding-left: 70px;
}

.cont-2-des {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.btn-primary2 {
    color: #FFFFFF;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    padding: 20px 25px;
    margin-left: 0px;
    margin-right: 658px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.image {
    width: 342px;
    height: 342px;
    border-radius: 8px;
    padding: 24px 24px;
}

/* Features you will love part */
.feature {
    width: 1440px;
    height: 1059px;
    color: #727272;
    border: 1px solid gold;
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 230px;
}

/* hr {
    width: 5px;
    height: 106px;
    background: #FF900E;
    display: flex;
} */
.feature {
    display: flex;
    gap: 45px;
    margin-bottom: 30px;
}

.f-cont-1 {
    width: 586px;
    height: 982px;
    border: 1px;
    margin-top: 35px;
}

.f-cont-2 {
    width: 800px;
    height: 1059px;
    border: 1px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}


.f-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.cont-2-des {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: left;
}

.f-img {
    position: absolute;
    width: 700px;
    height: 982px;
    border-radius: 8px;
    float: right;
}

.btn-primary3 {
    width: 300px;
    height: 100px;
    border-radius: 6px;
    border: 0;
    background: #FF900E;
    margin-right: 455px;
    margin-top: -180px;
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
}

.f-heading {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.f-parts {
    width: 580px;
    height: 146px;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 5px;
}

.f-detail {
    margin: 20px;
}

/* facts........ */
.facts {
    margin-left: 240px;
    margin-top: 100px;
}

.awards {
    display: flex;
    width: 1350px;
    justify-content: center;
}

.award {
    width: 80%;
    height: 240px;
    border: 1px solid gold;
    border-radius: 8px;
    margin-top: 70px;
    margin-left: 30px;
    text-align: center;
    padding-top: 50px;
}

/* sponsors */
.sponsors {
    margin-left: 240px;
    margin-top: 150px;
    margin-bottom: 120px;
}

.sponsor {
    width: 542px;
    height: 129px;
    text-align: center;
    padding-left: 420px;
}

.s-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 5px;
}

.socials {
    margin-left: 35px;
    display: flex;
    padding-top: 40px;
    gap: 124px;
}

/* footer.... */

.footer {
    width: 1440px;
    height: 100px;
    margin-left: 240px;
    background: #FFF4E7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.footer-p {

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #424242;
    padding-top: 38px;
}